  main {
      width: 80%;
      height: 150px;
      padding: 20px;
      background: #272822;
      border: 3px solid white;
      }

  div {
    background: #272822;
    font-family: arial;
    color: white;
    text-align: right;

  }

  tbar {
      width: 92%;
      height: 120px;
      padding: 20px;
      background: #272822;
      border: 3px solid white;
      }
  h1 {
      font-family: arial;
      color: white;     
      text-align:right;
      }
  p {
      font-family: sans-serif;
      color: white;
      text-align:right;
      border-bottom: 1px solid #ff0066
      }

  p2 {
    font-family: :sans-serif;
    color: black;
    text-align:right;
      }

hr {

  width: 80%;
  height: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color:white;
  border: 0 none;
  margin-top: 100px;
  margin-bottom:100px;
}

a {
    background-color: white;
  color: #272822;
  padding: 1em 1em;
  text-decoration: none;
  text-transform: uppercase;
  text-align:center;
  font-family:arial;
}

a:hover {
  color: white;
  background-color:#272822;
}

a:active {
  background-color: #ff0066;
  color:white;
}

/* Non-Demo Styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding:10px;
  ;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
