  /* Non-Demo Styles */
* {
  box-sizing: border-box;
}


body {
  justify-content: center;
  align-items: center;
  padding:10px;
  font-family: arial;
  ;
}


  .header {
      
      padding: 20px;
      background: #272822;
      border: 3px solid white;
      }

  .header  h1 {
      font-family: arial;
      color: white;     
      text-align:right;
      }
  p {
      font-family: sans-serif;
      color: white;
      text-align:right;
      border-bottom: 1px solid #ff0066
      }

  .header  p2 {
    font-family: :sans-serif;
    color: black;
    text-align:right;
      }

  .topnav {
    background: #272822;
    font-family: arial;
    color: white;
    text-align: right;
    overflow: hidden;

  }

.topnav a {
  float: left;
  background-color: white;
  color: #272822;
  display: block;
  padding: 1em 1em;
  text-decoration: none;
  text-transform: uppercase;
  text-align:center;
  font-family:arial;
  border:3px solid #272822;
}

.topnav a:hover {
  color: white;
  background-color:#272822;
}

.topnav a:active {
  background-color: #ff0066;
  color:white;
}

.column {
  width:100%;
  background-color: #272822;
  padding: 20px;
  border: 3px solid white;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}
