  /* Non-Demo Styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:10px;
  font-family: arial;
  ;
}


  .header {
      
      padding: 20px;
      background: #272822;
      border: 3px solid white;
      }

  .header  h1 {
      font-family: arial;
      color: white;     
      text-align:right;
      }
  .header p {
      font-family: sans-serif;
      color: white;
      text-align:right;
      border-bottom: 1px solid #ff0066
      }

  .header  p2 {
    font-family: :sans-serif;
    color: black;
    text-align:right;
      }

  .topnav {
    background: #272822;
    font-family: arial;
    color: white;
    text-align: right;

  }




.topnav a {
    background-color: white;
  color: #272822;
  padding: 1em 1em;
  text-decoration: none;
  text-transform: uppercase;
  text-align:center;
  font-family:arial;
}

.topnav a:hover {
  color: white;
  background-color:#272822;
}

.topnav a:active {
  background-color: #ff0066;
  color:white;
}

