  main {
      width: 92%;
      height: 120px;
      padding: 20px;
      background: #272822;
      border: 3px solid white;
      }

  tbar {
      width: 92%;
      height: 120px;
      padding: 20px;
      background: #272822;
      border: 3px solid white;
      }
  h1 {
      font-family: cambria;
      color: white;     
      text-align:right;
      }
  p {
      font-family: sans-serif;
      color: white;
      text-align:right;
      }

  p2 {
    font-family: :sans-serif;
    color: black;
    text-align:right;
      }

a {
    background-color: white;
  color: #272822;
  padding: 2em 2.5em;
  text-decoration: none;
  text-transform: uppercase;
  text-align:center;
}

a:hover {
  color: white;
  background-color:#272822;
}

a:active {
  background-color: #ff0066;
  color:white;
}

/* Non-Demo Styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}